player-connection-mode=Listen
player-connection-guid=2941330222
player-connection-debug=0
player-connection-project-name=ShooterClient
player-connection-ip=192.168.1.206
player-connection-ip=169.254.52.212
player-connection-ip=169.254.151.75
player-connection-ip=26.75.118.176
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
profiler-enable-deep-profiling-support=1
